:root {
    --font-primary: 'Inter', sans-serif;
}
html {
  scroll-behavior: smooth;
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; 
  padding: 50px 20px;
  background-color: #ffffdb;
  color: #333;
  height: calc(100vh - 171.98px);
   margin-top: -72px;
}
.name, .tagline, .arrow {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}
.fadeIn {
  opacity: 1;
  transform: translateY(0);
}

.name {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: var(--font-primary);  
  color: #ff7700;
}
.tagline {
  font-size: 1rem;
  margin-top: 10px;
  color: #666;
  font-family: var(--font-primary);
  font-style: italic;
}
.title {
  font-size: 1.5rem;
  margin: 10px 0;
  font-weight: 400;
  font-family: var(--font-primary);
}
.arrow {
  font-size: 26px;
  color: #ff7700;
  text-decoration: none;
  position: absolute;
  bottom: 20px;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%); 
  transition: color 0.3s ease;
}

.arrow:hover {
  color: #cc5a00; 
}

.socialLinks {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .icon {
    font-size: 1.5rem;
    color: #ff7700;
    transition: color 0.3s ease;
    text-decoration: none;
  }
  
  .icon:hover {
    color: #cc5a00;
  }
