/* Import Google Fonts */
:root {
    --font-primary: 'Inter', sans-serif;
}

.intro {
  text-align: center;
  padding: 50px 20px;
  background-color: #ffffdb;
  color: #333;
}

.name {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: var(--font-primary);  color: #ff7700;
}

.title {
  font-size: 1.5rem;
  margin: 10px 0;
  font-weight: 400;
  font-family: var(--font-primary);}

.tagline {
  font-size: 1rem;
  margin-top: 10px;
  color: #666;
  font-family: var(--font-primary);  font-style: italic;
}

.socialLinks {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .icon {
    font-size: 1.5rem;
    color: #ff7700;
    transition: color 0.3s ease;
    text-decoration: none;
  }
  
  .icon:hover {
    color: #cc5a00;
  }
