.projects {
  background-color: white;
  padding: 50px 20px;
  text-align: center;
  height: calc(100vh - 100px);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(90deg, rgba(255, 119, 0, 0.1) 1px, transparent 1px),
                    linear-gradient(0deg, rgba(255, 119, 0, 0.1) 1px, transparent 1px);
  background-size: 40px 40px;
  background-position: 0 0, 0 0;

}
.sectionTitle {
  font-size: 2rem;
  font-family: 'Inter', sans-serif;
  color: #ff7700;
  margin-bottom: 30px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 0.5s ease;
}

.fadeIn {
  opacity: 1;
  transform: translateY(0);
}
/* Project List */
.projectList {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

/* Individual Project Card */
.projectCard {
  background: #fff;
  border-radius: 16px;
  width: 320px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}
.projectCard2 {
  background: #fff;
  border-radius: 16px;
  width: 320px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2s ease, transform 2s ease;
}
.projectCard3 {
  background: #fff;
  border-radius: 16px;
  width: 320px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 3s ease, transform 3s ease;
}

.cardSlideUp {
  opacity: 1;
  transform: translateY(0);
}

.projectCard:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

/* Project Image */
.projectImage {
  height: 180px;
  background-size: cover;
  background-position: center;
  border-bottom: 1px solid #eee;
}

/* Project Content */
.projectInfo {
  padding: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.projectInfo h3 {
  font-size: 1.5rem;
  font-family: 'Inter', sans-serif;
  color: #ff7700;
  margin: 0;
}

.projectInfo p {
  font-size: 0.95rem;
  color: #333;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.technologyLogos {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.techLogo {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

/* Project Links */
.projectLinks {
  margin-top: auto;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 15px 0;
  border-top: 1px solid #eee;
}

.icon {
  font-size: 1rem;
  color: #ff7700;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: color 0.3s ease;
}

.icon img {
  width: 20px;
  height: 20px;
}

.icon:hover {
  color: #cc5a00;
}

.arrow {
  font-size: 26px;
  color: #ff7700;
  text-decoration: none;
  position: absolute;
  bottom: 20px; /* Adjust this value to position the arrow at the bottom */
  left: 50%;
  transform: translateX(-50%); 
  transition: color 0.3s ease;
}

.arrow:hover {
  color: #cc5a00; 
}
