.skillsSection {
  background-color: #ffffdb;
  padding: 50px 20px;
}
.titleContainer {
  display: flex;
  justify-content: center;
}
.sectionTitle {
  font-size: 2rem;
  font-family: 'Inter', sans-serif;
  color: #ff7700;
  margin-bottom: 30px;
}
.skillsContainer {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  text-align: center; 
}
.container {
  display: flex;
  gap: 16px;
}
.techList {
  display: flex;
  gap: 16px;
}
.techItem {
  display: flex;
  border: 1px solid #ff7700;
  border-radius: 5px;
  padding: 7px;
}
.techLogo {
  height: 25px;
  width: 25px;
}
.techName {
  margin: auto 5px;
}
.left {
  width: 300px;
  height: 388.49px;
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.top {
  width: 550px;
  height: 184.49px;
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;
}

.bottom {
  display: flex;
  gap: 16px;
}

.box {
  width: 200px;
  height: 184.49px;
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;
}